<%= link_to edit_task_path(@task.id), class: 'pull-right btn btn-default' do %>
  <i class="fa fa-pencil"></i> Edit this task
<% end %>

<h1><%= @task.title %></h1>
<div>
  <%= @task.details %>
</div>
<p>
  <% if @task.completed %>
  <%= "This task is complete" %>
  <% else %>
  <%= "This task is not completed yet!" %>
  <% end %>
</p>
<%= link_to "Back to list",  tasks_path %>
